argon2-cffi==18.3.0
bcrypt==3.1.4
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Django==2.0.9
docutils==0.14
et-xmlfile==1.0.1
idna==2.8
jdcal==1.4
model-mommy==1.6.0
openpyxl==2.5.12
Pillow==6.2.0
pkg-resources==0.0.0
pycparser==2.19
pytz==2018.7
Random-Word==1.0.2
requests==2.21.0
six==1.11.0
urllib3==1.24.1
