{% extends "products_app/products_app_base.html" %}

{% block body_block %}
<div class="centeredDiv plainBackground" style="min-width: 300px;">
  <h1>
    {% if not form.instance.pk %}
    Create product
    {% else %}
    Details product
    {% endif %}
  </h1>
  
  <form method="POST">
    {% csrf_token %}
    <table>
    {{ form.as_table}}
    </table>
    </br>
    <div class="okButtonWrapper">
      <input type="submit" class='editProfileBtn btn btn-info' value="Submit">
    </div>
  </form>

  {% if not form.instance.pk %}
  {% else %}
  </br>
  <div class="okButtonWrapper">
  <p><a class='editProfileBtn btn btn-info' href="{% url 'products_app:delete' pk=product.id %}">Delete</a></p>
  </div>
  {% endif %}

</div>

{% endblock %}