{% extends "products_app/products_app_base.html" %}
{% block body_block %}
  <!--<div class="jumbotron">-->
<div class="centeredDiv plainBackground minFiftyPercentContainer">
    <h1>List of Products</h1>

    <div class="scrollStyle">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Genre</th>
            <th scope="col">Price</th>
            <th scope="col">Amount</th>
            <th scope="col">Weight</th>

          </tr>
        </thead>

        <tbody>
          {% for product in product_list %}

          <tr>
            <th>  <a href="{% url 'products_app:update' pk=product.id %}">{{product.name}}</a></th>
            <td>{{product.genre}}</td>
            <td>{{product.price}}zł</td>
            <td>{{product.amount}}kg</td>
            <td>{{ product.weight }}</td>
          </tr>
              {% endfor %}

        </tbody>
      </table>
    </div>
    <a href="{% url 'products_app:create' %}" class="editProfileBtn btn btn-info">Add</a>
    <!-- <button  href="{% url 'products_app:create' %}" type="button" name="button">Add</button> -->
    <a href="{% url 'products_app:xls' %}" class="editProfileBtn btn btn-info">Upload xls</a>

</div>


{% endblock %}