{% extends "accounts/base.html" %}
{% block body_block %}

<div class="jumbotron">
	<h1>Twój profil</h1>
<a href="{% url 'accounts:edit_my_profile' %}" class="btn btn-info">Edytuj profil</a><br><br>
{#{% if user_profile.is_client %}#}
{#<a href="{% url 'orders:order_list' %}" class="btn btn-info">Przeglądaj zamówienia</a><br><br>#}
{#{% endif %}#}

{% if user_profile.is_client == False %}
    <a href="{% url 'products_app:list' %}" class="btn btn-info">Przeglądaj produkty</a><br><br>
    {% else %}
    <a href="{% url 'order_app:list' %}" class="btn btn-info">Przeglądaj zamówienia</a><br><br>
{% endif %}
	{% if user_profile.profile_pic %}
<img src="{{ user_profile.profile_pic.url }}" alt="image" /> 
	{% endif %}
<h2>Username:</h2>
{{ user.username }} <br>
<h2>First Name:</h2><br>
{{ user.first_name }}<br>
<h2>Last Name:</h2><br>
{{ user.last_name}}<br>
<h2>Email:</h2><br>
{{ user.email }}<br>
<h2>Company:</h2>
{{ user_profile.company_name }} <br>
<h2>Phone number:</h2>
{{ user_profile.phone_number }}<br>
<h2>Location:</h2>
{{ user_profile.latitude }}<br>
{{ user_profile.longitude }}

</div>

{% endblock %}