{% extends "order_app/order_app_base.html" %} {% block body_block %}
<div class="jumbotron">
  <h2>Order Details:</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>

    {% for product in checkout_details.products.all %}
    <tr>
      <th>{{ product.name_product }}</th>
      <th>{{ product.amount }}</th>
    </tr>
    {% endfor %}
  </table>
</div>

<div class="container">
  <p>
    <a
      class="btn btn-warning"
      href="{% url 'order_app:update' pk=checkout_details.pk %}"
      >Update</a
    >
  </p>
  <p>
    <a
      class="btn btn-danger"
      href="{% url 'order_app:delete' pk=checkout_details.pk %}"
      >Delete</a
    >
  </p>
</div>

{% endblock %}
