{% extends "order_app/order_app_base.html" %}
{% block body_block %}
  <div class="jumbotron">
    <h2>Order Details:</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Product</th>
          <th scope="col">Amount</th>
        </tr>
      </thead>
     
    {% for product in checkout_details.products.all %}
    <tr>
    <th>{{ product.name_product}}</th>
    <th>{{ product.amount}}</th>


</tr>


    {% endfor %}

      </tbody>
    </table>

    
    {% comment %} <p>Id_num: {{order_details.id}}</p>
    <p>Name: {{order_details.name}}</p>
    <p>Genre: {{order_details.genre}}</p>
    <p>Price: {{order_details.price}}</p>
    <p>Amount: {{order_details.amount}}</p>
 {% endcomment %}


  </div>
  {% comment %} <div class="container">
    <p><a class='btn btn-warning' href="{% url 'order_app:update' pk=order_details.pk %}">Update</a></p>
    <p><a class='btn btn-danger' href="{% url 'order_app:delete' pk=order_details.pk %}">Delete</a></p> {% endcomment %}

  </div>

{% endblock %}
