body{
	/*background-color: #f0f0f0;*/
	/* Background photo comes from pexels.com.  It was made by Steve Johnson. */
	background-image: linear-gradient(0deg, rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("/static/img/back.jpg");
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: cover;
	font-family: Helvetica;
	color: #474F54;
	font-size: 12px;
	height: 100vh;
}

h1{
	font-family: 'Teko', sans-serif;
	color: #474F54;
}

#leftDivRegister {
	float: left;
	width: 50%;
}

#rightDivRegister{
	float: right;
	width: 50%;
}

.horizontalDivs{
	float: left;
}

.helptext{
	clear: left;
	display: none;
}
/*.jumbotron{
	background-color: #ffffff;
}*/

.centeredDiv {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#logoContainer img {
	  max-width: 200px;
}

/* Select classes necessery for logo display in index.html */
.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.selectEnable { 
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}



/* Navigation bar. */
#top{
	background-color: #474F54;
	letter-spacing: 2px;
	font-family: 'Teko', sans-serif;
	font-size: 17px;
}
#top a{
	color: #F0F0F0;
}
#top a:hover{
	background-color: rgba(0,0,0,0);
	text-decoration: underline;
}
#top a:visited{
	background-color: rgba(0,0,0,0);
}


.plainBackground{
	background-color: #FFFFFF;
	padding: 20px;
	border-radius: 2%;
	width: auto;
}
.plainBackground label{
	font-weight: normal;
}
.okButton{
	background-color: #79AFBC;
	border-radius: 50%;
	border: none;
	height: 70px;
	width: 70px;	
	color: #FFFFFF;
	font-family: 'Teko', sans-serif;
	letter-spacing: 3px;
	font-size: 25px;
	text-align: center;
}
.okButtonWrapper{
  display: flex;
  justify-content: center;
}

.minFiftyPercentContainer{
	min-width: 50%;
	min-width: 800px;
}


/* my_account */
/* Crops image into circle. */
.profilePic{
	object-fit: cover;
	width: 230px;
	height: 230px;
	border-radius: 50%;
}

.editProfileBtn{
	margin-right: 5px;
	margin-left: 5px;
	background-color: #79AFBC;
}

.scrollStyle{
    height: 300px;
    overflow-y: scroll;
}