{% extends "order_app/order_app_base.html" %}
{% block body_block %}
  <!--<div class="jumbotron">-->

<div class="centeredDiv plainBackground minFiftyPercentContainer">
    <h1>Your orders</h1>
    <div class="scrollStyle">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Order ID</th>
          <th scope="col">Date</th> 
          <th scope="col">Hour</th>
          <th scope="col">Price</th>
          <th scope="col">Weight</th>
        </tr>
      </thead>
      
      
      <tbody>
      
        {% for order in checkout_list %}
          <tr>
            <th>  <a href="{{order.id}}/">{{order.id}}</a></th>
            {% comment %} <th>  {{order.id_checkout}} </th> {% endcomment %}

            <td>{{order.date}}</td>
            <td>{{ order.hour }}</td>
            <td>{{order.price}}</td>
            <td>{{ order.weigth }}</td>
          </tr>   
        {% endfor %}
             
      </tbody>
     
    </table>
    </div>
    
    <div class="horizontalDivs">
      <a href="{% url 'order_app:create' %}" class="editProfileBtn btn btn-info">Add new order</a><br>
    </div>
    <div class="horizontalDivs">
      <a href="{% url 'order_app:all_products' %}" class="editProfileBtn btn btn-info">Browse products</a>
     </div>
    <div style="clear: left;">
  </div>


{% endblock %}