{% extends "order_app/order_app_base.html" %}
{% block body_block %}
  <div class="jumbotron">

    <h1>Lista zamówień</h1>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Order ID</th>
          <th scope="col">Data</th>
          <th scope="col">Godzina</th>
          <th scope="col">Cena</th>
          <th scope="col">Waga</th>
        </tr>
      </thead>

      <tbody>
        {% for order in checkout_list %}

        <tr>
          <th>  <a href="{{order.id}}/">{{order.id}}</a></th>
          {% comment %} <th>  {{order.id_checkout}} </th> {% endcomment %}

          <td>{{order.date}}</td>
          <td>{{ order.hour }}</td>
          <td>{{order.price}}</td>
          <td>{{ order.weigth }}</td>

        </tr>
            {% endfor %}

      </tbody>
    </table>

    <a href="{% url 'order_app:create' %}" class="btn btn-default">Dodaj zamówienie</a><br>
    <a href="{% url 'order_app:all_products' %}" class="btn btn-default">Przeglądaj produkty</a>

  </div>


{% endblock %}