{% extends "order_app/order_app_base.html" %}
{% block body_block %}
  <div class="centeredDiv plainBackground minFiftyPercentContainer">
  <!--<div class="jumbotron">-->
    <h1>Order {{ checkout_details.id }} details:</h1>
    <div class="scrollStyle">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Genre</th>
            <th scope="col">Amount</th>
            <th scope="col">Price</th>
            <th scope="col">Weight</th>
              <th scope="col">Supplier</th>
          </tr>
        </thead>
       
      {% for product in checkout_details.products.all %}
      <tr>
          {% if checkout_details.confirmed == False %}
            <th> <a href="{% url 'order_app:update_product' pk=product.id %}">{{ product.name_product }}</a></th>
          {% else %}
            <th>{{ product.name_product }}</th>
          {% endif %}
          <th>{{ product.name_product.genre }}</th>
          <th>{{ product.amount}}</th>
          <th>{{ product.name_product.price }}</th>
          <th>{{ product.name_product.weight }}</th>
          <th>{{ product.name_deliver}}</th>

      </tr>
      {% endfor %}

        </tbody>
      </table>
    </div>

    {% if checkout_details.confirmed == False %}
    <div class="horizontalDivs">
      <p><a class='editProfileBtn btn btn-info' href="{% url 'order_app:add_product' pk=checkout_details.id %}" name="add_product">Add product</a></p>
    </div>
    <div class="horizontalDivs">
      <p><a class='editProfileBtn btn btn-info' href="{% url 'order_app:confirm' pk=checkout_details.id %}" name="confirm">Confirm</a></p>
    </div>
    <div class="horizontalDivs">
      <p><a class='editProfileBtn btn btn-info' href="{% url 'order_app:delete' pk=checkout_details.id %}" name="delete_order">Delete order</a></p>
    </div>
    {% else %}
    <h1>This order has been confirmed. Please wait for the delivery.</h1>
    {% endif %}
  </div>

{% endblock %}