{% extends "admin_app/admin_app_base.html" %}
{% load staticfiles %}

  {% block body_block %}
<div class="centeredDiv plainBackground minFiftyPercentContainer scrollStyle">
    <h1>Welcome to Admin Page</h1>
    <div style="display: block; margin-left: auto; margin-right: auto">
    <div style="width: 640px; height: 480px;display: block; margin-left: auto; margin-right: auto" id="mapContainer"></div>
    </div>

<h1>Routes for date:</h1>
    <div>
        <h3>
<script type="text/javascript">
    var today = new Date();
    var dd = today.getDate()+1;
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();

if(dd<10) {
    dd = '0'+dd
}

if(mm<10) {
    mm = '0'+mm
}

today = yyyy+'-'+mm+'-'+dd;

document.write(today);

    document.getElementById('date').innerHTML = today.toDateString(); </script>

<p id = 'date'></p>

{% if routes_tomorrow|length == 0 %}
          <button onclick="call_alg();">
            {%csrf_token%}
            Generate new routes automatically
        </button>
{% endif %}


        <button onclick="table();">
            {%csrf_token%}
            Update
        </button>

</h3>
    </div>
    <script src='{% static "js/map.js" %}' type="text/javascript">
    </script>

        <a href="{% url 'admin_app:index20' %}"  class="editProfileBtn btn btn-info">All</a>
        <a href="{% url 'admin_app:index22' %}" class="editProfileBtn btn btn-info">13:00</a>
        <a href="{% url 'admin_app:index23' %}"class="editProfileBtn btn btn-info">16:00</a>

{% block content2 %}
	{% for r in routes_tomorrow%}
    {% ifequal r.hour 1 %}
        {% for ri in r.routes_as_list%}
            {% if ri.0 == "['m'" and r.client%}
                {% for c in checkout%}
                    {% ifequal ri.1 c.id %}
                        {% for p in profile%}
                            {% ifequal p.user c.name_client %}
                                <script>
                                    my_cool_js_function("{{magazine}}","geo!"+"{{p.latitude}}"+","+"{{p.longitude}}","{{ r.colour }}",true, "{{p.company_name}}");
                                </script>
                            {% endifequal %}
                        {% endfor %}
                    {% endifequal %}
                {% endfor %}
            {% endif %}
            {% if r.routes_as_list.1 == ri and r.client%}
                {% for c in checkout%}
                    {% ifequal ri.0 c.id %}
                        {% for p in profile%}
                            {% ifequal p.user c.name_client %}
                                {% if ri.1 == "'m']" %}
                                    <script>
                                        my_cool_js_function("geo!"+"{{p.latitude}}"+","+"{{p.longitude}}","{{magazine}}","{{ r.colour }}",true,"{{p.company_name}}");
                                    </script>
                                {% else %}
                                    {% for o in ordered_products%}
                                        {% ifequal ri.1 o.id %}
                                            {% for p2 in profile%}
                                                {% ifequal p2.user o.name_deliver %}
                                                    <script>
                                                        my_cool_js_function("geo!"+"{{p.latitude}}"+","+"{{p.longitude}}","geo!"+"{{p2.latitude}}"+","+"{{p2.longitude}}","{{ r.colour }}",true, "{{p.company_name}}");
                                                    </script>
                                                {% endifequal %}
                                            {% endfor %}
                                        {% endifequal %}
                                    {% endfor %}
                                {% endif %}
                            {% endifequal %}
                        {% endfor %}
                    {% endifequal %}
                {% endfor %}
            {% elif ri.0 == "['m'" and not r.client%}
                {% for o in ordered_products%}
                    {% ifequal ri.1 o.id %}
                        {% for p in profile%}
                            {% ifequal p.user o.name_deliver %}
                                    <script>
                                        my_cool_js_function("{{magazine}}","geo!"+"{{p.latitude}}"+","+"{{p.longitude}}","{{ r.colour }}", false, "{{p.company_name}}");
                                    </script>
                            {% endifequal %}
                        {% endfor %}
                    {% endifequal %}
                {% endfor %}

            {%else%}
                {% for o in ordered_products%}
                    {% ifequal ri.0 o.id %}
                        {% for p in profile%}
                            {% ifequal p.user o.name_deliver %}
                                {% if ri.1 == "'m']" %}
                                    <script>
                                        my_cool_js_function("geo!"+"{{p.latitude}}"+","+"{{p.longitude}}","{{magazine}}","{{ r.colour }}",false, "{{p.company_name}}");
                                    </script>

                                {% else %}
                                    {% for o in ordered_products%}
                                        {% ifequal ri.1 o.id %}
                                            {% for p2 in profile%}
                                                {% ifequal p2.user o.name_deliver %}
                                                    <script>
                                                        my_cool_js_function("geo!"+"{{p.latitude}}"+","+"{{p.longitude}}","geo!"+"{{p2.latitude}}"+","+"{{p2.longitude}}","{{ r.colour }}",false, "{{p.company_name}}");
                                                    </script>
                                                {% endifequal %}
                                            {% endfor %}
                                        {% endifequal %}
                                    {% endfor %}
                                {% endif %}
                            {% endifequal %}
                        {% endfor %}
                    {% endifequal %}
                {% endfor %}

            {% endif %}
	    {% endfor %}
    {% endifequal %}
	{% endfor %}
{% endblock %}





<h1>SUPLIERS</h1>

{%for t in trucks%}

<h1>Truck {{t.id_truck}}</h1>
{% for r in routes_tomorrow %}
    {%if r.id_truck == t and r.hour == 1%}
    <h3>{{r.time}} h</h3>
    {%endif%}
{%endfor%}

<table class="table table-striped table-hover" id={{t.id_truck}}>
  <thead>
    <tr>
      <th scope="col">Suplier</th>
      <th scope="col">Product</th>
      <th scope="col">Amount</th>
      <th scope="col">Route</th>
      <th scope="col">Truck</th>
      <th scope="col">Id</th>
    </tr>
  </thead>


  <tbody>

    {% for r in routes_tomorrow %}
    {%if r.hour == 1 and r.id_truck == t%}
    {% for ri in r.routes_as_list_noclient %}
    {% for o in ordered_products %}
    {% if o.id == ri%}


    <tr>
      <td><a href="{% url 'accounts:show_profile' username=o.name_deliver%}">{{o.name_deliver}}</a></td>
      <td>{{o.name_product}}</td>
      <td>{{o.amount}}kg</td>
      <td>{{o.id_route}}</td>
      <td>{{t.id_truck}}</td>
      <td>{{o.id}}</td>

    </tr>

    {%endif%}
    {%endfor%}
    {%endfor%}
    {%endif%}
    {%endfor%}

  </tbody>
</table>

{%endfor%}



<h1>CLIENTS</h1>

{%for t in trucks%}

<h1>Truck {{t.id_truck}}</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Client</th>
      <th scope="col">Product</th>
      <th scope="col">Amount</th>
      <th scope="col">Route</th>
      <th scope="col">Truck</th>
        <th scope="col">Id</th>



    </tr>
  </thead>

  <tbody>
    {% for c in checkout %}
    {% for p in profile %}

    {% if c.hour == 1 and c.name_client == p.user and t == p.id_cluster %}

    <tr>
      <td><a href="{% url 'accounts:show_profile' username=c.name_client%}">{{c.name_client}}</a></td>
      <td>{{c.price}}</td>
      <td>{{c.weigth}}kg</td>
        {% for r in routes_tomorrow%}
        {% for ri in r.routes_as_list%}
        {% if r.client and ri.1 == c.id%}
      <td>{{r.id_route}}</td>
      <td>{{r.id_truck.id_truck}}</td>

        {%endif%}
        {%endfor%}
        {%endfor%}
      <td>{{c.id}}</td>

    </tr>
    {%endif%}
    {% endfor %}
    {%endfor%}

  </tbody>
</table>
{%endfor%}
</div>


{% endblock %}