{% extends "admin_app/admin_app_base.html" %}
{% block body_block %}
  <div class="jumbotron">

    <h1>Lista dostępnych Produktów</h1>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Produkt</th>
      <th scope="col">Gatunek</th>
      <th scope="col">Cena</th>
      <th scope="col">Ilość</th>
      <th scope="col">Dostawca</th>
      

    </tr>
  </thead>

  <tbody>
    {% for product in product_list %}

    <tr>
      <th> {{product.name}}</a></th>
      <td>{{product.genre}}</td>
      <td>{{product.price}}zł</td>
      <td>{{product.amount}}kg</td>
      <td><a href="{% url 'accounts:show_profile' username=product.name_deliver%}">{{product.name_deliver}}</a></td>
    </tr>
    {% endfor %}


  </tbody>
</table>


  {% endblock %}